<%= render 'user_info_create_book', user: @user, book: @book %>

<div>
  <h2>Books</h2>
  <p>Title</p>
  <p>Opinion</p>
  <% @books.each do |books| %>
  <%= link_to books.title, book_path(books.id) %>
  <ul><%= books.body %></ul>
  <% end %>
</div>