<%= render 'users/user_info_create_book', user: @user, book: @book %>

<div>
  <h2>Books</h2>
  <p>Title</p>
  <p>Opinion</p>
  <% @books.each do |book| %>
  <ul><%= image_tag book.user.get_profile_image(100, 100) %></ul>
  <ul><%= link_to book.title, book_path(book.user.id) %></ul>
  <ul><%= book.body %></ul>
  <% end %>
</div>
