<div class = "container">
  <div class = "row">
    <h1 class = "col d-flex justify-content-center">Welcome to
            <i class="fa-solid fa-book" style= "margin-left: 10px;"></i><strong>Bookers</strong>!</h1>
  </div>
</div>

